/* Main CSS */

:root {
    font-size: 14px;

    --outline-color: lightgray;
}

@font-face {
    font-family: poppins;
    src: url(../../assets/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../../assets/fonts/poppins/Poppins-Bold.ttf);
}

/* Globals */

* {
    line-height: 1;
    font-family: poppins, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 7rem;
    border-right: var(--outline-color) solid 1px;
}

.main {
    flex: 1;
}

.heading {
    font: 1.5rem poppins-bold;
}

.title {
    font: 1.5rem poppins-bold;
}